@font-face {
  font-family: 'Archangelsk';
  src: url('../fonts/Archangelsk.woff2') format('woff2'),
   url('../fonts/Archangelsk.woff') format('woff');
   font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'roboto';
  src: url('../fonts/roboto-light-webfont.woff2') format('woff2'),
       url('../fonts/roboto-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}




@font-face {
  font-family: 'roboto';
  src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
       url('../fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}




@font-face {
  font-family: 'roboto';
  src: url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
       url('../fonts/roboto-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body  {
  min-width: 320px;
  font-family: 'roboto', sans-serif;
  font-weight: 400;
  color: var(--black-color);
  background-color: var(--white-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset  {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

:root {
  --black-color: #000;
  --white-color: #fff;
  --accent-color: #f8f200;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

img {
  max-width: 100%;
}

.flex {
  display: flex;
}

.section__title {
  font-family: 'Archangelsk', sans-serif;
  font-size: 62px;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

 .container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1310px;
 }

  /*--------------------header--------------------*/
  .header {
    position: absolute;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
  }

  .header__container  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .social {
    align-items: center;
  }

  .social__item:not(:last-child)  {
    margin-right: 40px;
  }

  .social__link {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .social__link_youtube {
    background-image: url('../img/header/header__youtube.svg');
  }

  .social__link_vk  {
    background-image: url('../img/header/header__vk.svg');
  }

  .social__link_facebook  {
    background-image: url('../img/header/header__facebook.svg');
  }

  .social__link_twitter {
    background-image: url('../img/header/header__twitter.svg');
  }

  .social__link_twitch  {
    background-image: url('../img/header/header__twitch.svg');
  }

  .social__link_instagram {
    background-image: url('../img/header/header__instagram.svg');
  }

 /*--------------------hero--------------------*/
 .hero  {
  position: relative;
  height: 1000px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
 }

 .hero__container {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  align-items: flex-end;
 }

 .hero-info {
  position: relative;
  z-index: 5;
  max-width: 624px;
  padding: 70px;
  background-color: var(--accent-color);
 }

 .cut-corners {
  clip-path: polygon(18% 0, 100% 0, 100% 82%, 82% 100%, 0 100%, 0 18%);
 }

 .hero-info__title  {
  margin-bottom: 24px;
  color: var(--black-color);
 }

 .hero-info__btn  {
  padding: 25px 50px;
  font-size: 24px;
  font-weight: 700;
  background-color: var(--black-color);
  color: var(--accent-color);
 }

 .hero__slider  {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
 }

 .hero__slider .swiper-slide  {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
 }
